.weather-app {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  border: 2px solid #dee2e6;
  border-radius: 20px;
  text-align: center;
}

.search-form {
  padding: 10px;
}

.current-weather-info {
  padding: 10px;
  margin: 15px;
}

.description {
  font-size: 20px;
  font-weight: 700;
  margin: 15px 0px;
}

.forecast-icon {
  width: 70px;
}

.credit {
  margin-top: 20px;
}

li {
  list-style: none;
}
ul {
  padding-left: 0;
}

#current-icon {
  width: 150px;
  margin-right: 20px;
}

#celsius-link,
#fahrenheit-link {
  text-decoration: none;
}
