li {
  list-style: none;
}
ul {
  padding-left: 0;
}

body {
  background-color: #b2ebf2;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 80px auto;
}

.weather-app {
  max-width: 700px;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #ecedef;
  border-radius: 20px;
  text-align: center;
  font-family: "Assistant", sans-serif;
  background-color: #ffffff;
}

.city-name {
  font-size: 40px;
  font-family: "REM", sans-serif;
}

.date-time-update {
  font-size: 16px;
  font-weight: 500;
}

.weather-temp .active {
  color: #212529;
  cursor: default;
}

.weather-temp .active:hover {
  text-decoration: none;
}

.units {
  font-size: 17px;
  font-weight: 600;
  position: relative;
  bottom: 5px;
}

.current-weather-info {
  font-size: 15px;
  padding: 10px;
  margin: 15px;
}

.description {
  font-size: 22px;
  font-weight: 700;
  margin: 15px 0px;
  text-transform: capitalize;
}

.current-forecast-details {
  font-size: 17px;
}

.details-heading {
  font-weight: 600;
}

.forecast-icon {
  width: 65px;
}

.forecast-day,
.forecast-divider {
  font-weight: 600;
}

.forecast-day,
.forecast-temp {
  font-size: 17px;
}

.forecast-max {
  font-weight: 600;
}

.credit {
  margin-top: 20px;
  text-align: center;
}

#search-form {
  padding: 10px;
}

#current-icon {
  width: 150px;
  margin-right: 20px;
}

#current-temp {
  font-size: 50px;
  font-weight: 600;
  position: relative;
  top: 15px;
}

#celsius-link,
#fahrenheit-link {
  text-decoration: none;
}
